.card {
    margin-top: 40px;
    margin-left: 100px;
    width: 68%;
}

mat-card {
    margin-top: 10px;
    margin-left: 100px;
    width: 68%;
}

.text-center{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: rgba(61, 59, 59, 0.651);
    text-align: center;
    padding-top: 5px;
    margin-bottom: -2px;
    font-size: 18px;
}
.button-signup-facebook{
    background-color: rgb(0, 162, 255);
    margin-left: 38px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80%;
}

.or {
    text-align: center;
    color: rgba(61, 59, 59, 0.651);
}

.full-width {
    width: 80%;
    height: 60px;
    margin-left: 40px;
}

.button-register {
    background-color: rgb(0, 162, 255);
    width: 89%;
    margin-top: 10px;
    margin-left: 22px;
}

.account-existing{
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
}

.app-mobile{
    margin-top: 20px;
    margin-left: 230px;
    font-size: 15px;
}

.appstore{
   width: 25%;
   margin-left: 150px;
   margin-bottom: 20px;
}