<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                    <h3 class="text-center">Leostagram</h3>
                    <p>Registra-te para visualizar fotos e </p>
                    <p>videos de seus amigos </p>
                    <button class="button-signup" mat-raised-button color="primary">Iniciar sessão com
                        Facebook</button>
                    <h4 class="or">ou</h4>
                    <form>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Telefone ou Email</mat-label>
                            <input matInput placeholder="Telefone ou Email" />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Sobrenome</mat-label>
                            <input matInput placeholder="Sobrenome" />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" />
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input type="password" matInput placeholder="Senha" />
                        </mat-form-field>
                        <div class="container">
                            <button class="button-signup" mat-raised-button color="primary">Registrar</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>