<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                    <h3 class="text-center">Leostagram</h3>
                    <p>Registra-te para visualizar fotos e </p>
                    <p>videos de seus amigos </p>
                    <button class="button-signup-facebook" mat-raised-button color="primary">Iniciar sessão com
                        Facebook</button>
                    <h4 class="or">ou</h4>
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="user.email" name="email" matInput placeholder="Email" />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input type="number" [(ngModel)]="user.phone" name="phone" matInput
                                placeholder="Telefone" />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input [(ngModel)]="user.firstName" name="firstName" matInput placeholder="Nome" />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Sobrenome</mat-label>
                            <input [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Sobrenome" />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="user.username" name="username" matInput placeholder="Username" />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input type="password" [(ngModel)]="user.password" name="password" matInput
                                placeholder="Senha" />
                        </mat-form-field>

                        <div class="container">
                            <button type="submit" class="button-register" mat-raised-button
                                color="primary">Registrar</button>
                        </div>
                    </form>
                </mat-card>
                <mat-card>
                    <h3 class="account-existing">Ja possui uma conta ? <a style="text-decoration: none; color: rgb(0, 162, 255);" href=''>Iniciar Sessão</a></h3>
                </mat-card>
                <h3 class="app-mobile">Obtém a aplicação</h3>
                <a
                    href="https://l.instagram.com/?u=https%3A%2F%2Fitunes.apple.com%2Fapp%2Finstagram%2Fid389801252%3Fpt%3D428156%26ct%3Digweb.loginPage.badge%26mt%3D8%26vt%3Dlo&e=ATN3w9Js7bPAmZUKbwV2LU_6lL9a8DVEA23umWii8LKE43OBPiKfkYY882Bwu-smytSPmIAiSBZAXRVbmDXlvqWfoB5m6WJa&s=1"><img
                        class="appstore" src="../../../assets/AppStore.png" alt=""></a>
                <a
                    href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D8B533AE8-CE1D-4F85-9C93-DCE12F5B678B%26utm_content%3Dlo%26utm_medium%3Dbadge"><img
                        class="appstore" style="margin-left: 10px;" src="../../../assets/GooglePlay.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>